
*{
    margin: o;
    padding: 0;
}
.toppage{
    background-image: url(../img/avrielle-suleiman-u0sviAL9pJM-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
   
}
.logo{
    width: 150px;
    height: 150px;
}
.nav {
    padding-right: 200px;
    padding-left: 200px;


}
li > a{
    font-family: 'Josefin Slab', serif;
    color:gray;
   text-decoration: none;
              
}
/* li > a.hover{
    text-decoration: underline;
    color: hotpink;
   
   } */
.main-img {
    width: 400px;
    padding-top: 100px;
    padding-left: 30px;
}
.main > .main-img2 {
    width: 200px;
    height: 260px;
    margin-top: 200px;
    padding-right: 100px;
    
   
    
}
.main {
    display: flex;
    justify-content: space-around;
    
}
.main > h1{
    font-family: 'Homemade Apple', cursive;
    padding-top: 100px;
    padding-left: 120px;
    font-size: 50px;
}
p {
    padding-top: 250px;
    /* margin-right: 150px; */
    font-family: fantasy;
    font-size: 30px;
}

.main2 {
    background-image:url(../img/A\ cute\ neutral\ wallpaper\ _\)\ #wallpaper\ #iphone\ #beige\ #neutral\ #minimalisticaesthetic\ #interesting\ #minimalistic\ #art\ #brown\ #tan\ #background.jpeg);
    width: 100vw;
    
}